* {
    box-sizing: border-box
}
@font-face {
    font-family: Vogue;
    src: url(../FONTES/Vogue.ttf);
}

/* --- //////////////////////////////////////////////////////// BODY //////////////////////////////////////////////////////// --- */

body {
    font-family: monospace; 
    margin: 0;
}
.segmentos{
    display: block;
    width: 95%;
    margin-left: 2%;
}
#segmento2{
    display: block;
    width: 95%;
    margin-left: 2%;
}
.Titulo{
    font-size: 40px;
    font-weight: bold;
    font-family: Vogue;
}
#SubTitulo{
    font-size: 30px;
    text-align: justify;
}
.SubTituloInicio{
    font-size: 17px;
    margin-left: 6px;
}
.SubTituloInicio:hover{
    color: #F13800;
    transition: 0.5s;
}
#Circulos{
    justify-content: space-between;
    width: 40px;
}
#Circulo1{
    background-color: #F13800;
    border-radius: 50%;
    width: 7px;
    height: 7px;
}
#Circulo2{
    background-color: #C3330E;
    border-radius: 50%;
    width: 7px;
    height: 7px;
}
#Circulo3{
    background-color: #802B22;
    border-radius: 50%;
    width: 7px;
    height: 7px;
}
#Circulo4{
    background-color: #4E2531;
    border-radius: 50%;
    width: 7px;
    height: 7px;
}
#BlocoPreto{
    background-color: black;
    width: 100%;
    color: white;
    padding: 30px;
}
#TituloBlocoPreto{
    font-family: "Source Sans 3";
    font-weight: 900;
    margin: 0%;
    font-size: 35px;
}
#ConjuntoInfo{
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 40vh;
    margin-bottom: 50px;
}
.Info{
    background-color: #4E2531;
    box-shadow: rgb(78, 37, 49) 5px 5px, rgba(78, 37, 49, 0.5) 10px 10px, rgba(78, 37, 49, 0.2) 15px 15px, rgba(78, 37, 49, 0.1) 20px 20px, rgba(78, 37, 49, 0.05) 25px 25px;
    width: 37vh;
    height: 100%;
    border-radius: 20px;
    text-decoration: none;
    overflow: hidden;
}
.FundoInfo{
    background: rgb(78,37,49);
    background: linear-gradient(320deg, rgba(78,37,49,1) 6%, rgba(128,43,34,1) 35%, rgba(241,56,0,1) 100%);
    width: 100%;
    height: 100%;
    transition: all .5s ease;
    text-decoration: none;
}
.FundoInfo:hover{
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
.Info a{
    text-decoration: none;
}
.FundoInfo p{
    font-size: 20px;
    margin: 0px;
    text-align: center;
    padding: 50% 10% 0% 10%;
    font-family: 'Source Sans 3';
    font-weight: 900;
}
#Relatos{
    display: flex;
}
#ImgFinal{
    width: 55%;
    background-image: url("../IMAGEM/aaa.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#RodapeBaixoTexto{
    width: 873px;
}
input{
    height: 50px;
    outline: none;
}
#Email{
    width: 60%;
    border: none;
    margin-bottom: 20px;
    border-radius: 100px;
    text-align: left;
    padding-left: 20px;
    font-size: 18px;
}
#Botao{
    width: 150px;
    border-radius: 100px;
    font-size: 18px;
    border: none;
    color: grey;
    height: 45px;
    margin-left: 10px;
}
#Botao:hover{
    cursor: pointer;
    background-color: #F13800;
    transition: .4s;
    color: white;
}
form textarea{
    padding: 10px;
    outline: none;
    font-size: 15px;
    resize: none;
    width: 90%;
    height: 90px;
}

/* --- //////////////////////////////////////////////////////// HEADER //////////////////////////////////////////////////////// --- */

header{
    background-color: black;
    font-family: "Source Sans 3";
    font-weight: 900;
    width: 100%;
    height: 50px;
    position: sticky;
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#TituloInicio{
	display: inline-block;
	flex-direction: column;
	color: white;
    justify-content: left;
    line-height: 50%;
}
#BtnInicio{
    margin-right: 15px;
}
a{
    color: white;
}

li{
    display: inline-block;
}

#NomeEmpresa{
    display: inline-block;
    color: white;
    font-family: Vogue;
    height: 20px;
    margin-top: 10%;
    margin-bottom: 0px;
}
#LogoEmpresa{
    padding-bottom: 9px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 0px;
    text-decoration: none;
}

.bloco{
    position: absolute;
    right: 75vh;
    bottom: 44px;
    width: 240px;
    height: 10px;
    background-color: #F13800;
    -webkit-transform: skew(0deg);
    -ms-transform: skew(0deg);
    transform: skew(0deg);
}

.bloco2{
    position: absolute;
    right: 50vh;
    bottom: 44px;
    width: 240px;
    height: 10px;
    background-color: #C3330E;
    -webkit-transform: skew(0deg);
    -ms-transform: skew(0deg);
    transform: skew(0deg);
}

.bloco3{
    position: absolute;
    right: 25vh;
    bottom: 44px;
    width: 240px;
    height: 10px;
    background-color: #802B22;
    -webkit-transform: skew(0deg);
    -ms-transform: skew(0deg);
    transform: skew(0deg);
}

.bloco4{
    position: absolute;
    right: 0vh;
    bottom: 44px;
    width: 240px;
    height: 10px;
    background-color: #4E2531;
    -webkit-transform: skew(0deg);
    -ms-transform: skew(0deg);
    transform: skew(0deg);
}

.positivo{
    -webkit-transform: skew(40deg);
    -ms-transform: skew(40deg);
    transform: skew(40deg);
}

/* --- //////////////////////////////////////////////////////// SLIDESHOW //////////////////////////////////////////////////////// --- */

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    position: relative;
    margin-bottom: 70px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0, 0.8);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    .prev, .next {font-size: 11px}
}

/* --- //////////////////////////////////////////////////////// FOOTER //////////////////////////////////////////////////////// --- */

footer{
    padding: 20px;
    margin-bottom: -20px;
    color: white;
    background-color: black;
}
#RodapeCima{
    margin-left: 80%;
    margin-top: -40px;
    width: 20%;
}
#TituloRodape{
    font-family: "Source Sans 3";
    font-size: 27px;
    font-weight: 900;
    width: 120px;
}
.RedeSocial{
    display: flex;
    width: 180px;
    text-decoration: none;
    height: 30px;
    margin-bottom: 10px;
}
.RedeSocial p{
    margin-top: 5%;
    margin-left: 5%;
}
.SubTituloRodape{
    font-family: Vogue;
    color: white;
    font-size: 20px;
}
#SegmentoRodape{
    display: block;
    right: 20px;
    padding-bottom: 40px;
    width: 120px;
}
#RodapeBaixo{
    display: flex;
}
#RodapeLogo{
    width: 190px; 
    height: 40px; 
    margin: 20px 20vh 20px 0px;
}
#Vazio{
    width: 190px;
    height: 30px;
}
