
#segmento2{
    height: 270vh;
}
#ConjuntoInfo{
    height: 150vh;
    display: block;
}
.FundoInfo{
    border-radius: 15px;
    height: 40%;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px, rgba(28, 28, 28, 0.3) 10px 10px, rgba(89, 89, 89, 0.2) 15px 15px, rgba(142, 142, 142, 0.1) 20px 20px, rgba(220, 220, 220, 0.05) 25px 25px;
}
.Titulo{
    font-size: 30px;
    font-weight: bold;
    font-family: Vogue;
}
#SubTitulo{
    font-size: 24px;
    text-align: justify;
}
#Circulos{
    justify-content: space-between;
    width: 40px;
}
#Relatos{
    display: block;
}
#ImgFinal{
    width: 100%;
    height: 30vh;
}
form{
    display: inline-block;
}
#Email{
    width: 20vh;
}
#Mensagem{
    width: 100%;
}

/* --- //////////////////////////////////////////////////////// HEADER //////////////////////////////////////////////////////// --- */

.bloco{
    position: absolute;
    right: 27%;
    bottom: 44px;
    width: 40px;
    height: 10px;
    background-color: #F13800;
    -webkit-transform: skew(0deg);
    -ms-transform: skew(0deg);
    transform: skew(0deg);
}

.bloco2{
    position: absolute;
    right: 18%;
    bottom: 44px;
    width: 40px;
    height: 10px;
    background-color: #C3330E;
    -webkit-transform: skew(0deg);
    -ms-transform: skew(0deg);
    transform: skew(0deg);
}

.bloco3{
    position: absolute;
    right: 9%;
    bottom: 44px;
    width: 40px;
    height: 10px;
    background-color: #802B22;
    -webkit-transform: skew(0deg);
    -ms-transform: skew(0deg);
    transform: skew(0deg);
}

.bloco4{
    position: absolute;
    right: 0vh;
    bottom: 44px;
    width: 40px;
    height: 10px;
    background-color: #4E2531;
    -webkit-transform: skew(0deg);
    -ms-transform: skew(0deg);
    transform: skew(0deg);
}

/* --- //////////////////////////////////////////////////////// SLIDESHOW //////////////////////////////////////////////////////// --- */

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
    height: 100%;
}

.slideshow-container {
    position: relative;

}

/* --- //////////////////////////////////////////////////////// SLIDESHOW //////////////////////////////////////////////////////// --- */

#BlocoPreto {
    background: linear-gradient(rgba(0, 0, 0, 0.905), rgb(0, 0, 0));
}

/* --- //////////////////////////////////////////////////////// RODAPE //////////////////////////////////////////////////////// --- */

#RodapeCima{
    margin-left: 25%;
}
#RodapeBaixo{
    display: block;
    margin-left: 0%;
}
#RodapeLogo{
    margin: 10px 0px 20px 20%;
}
#RodapeBaixoTexto{
    width: 100%;
}
#Vazio{
    height: 0px;
    width: 0px;
}
#ImgFinal{
    background-image: url("../IMAGEM/bbbb.png");
    background-repeat: no-repeat;
    background-size: cover;
}
